@media (max-width: 425px) {   

    /* Global safety */
    html, body{
        box-sizing: border-box;
        width: 100%;
        overflow-x: hidden;  /* mencegah horizontal scroll */
    }

    *, *::before, *::after { box-sizing: inherit; }

    header{
        position: fixed;
        height: 50px;
        width: 100%;
    }

    .hero{
        width: 100%;
    }

    header ul{
        display: none;
    }
    
    header .box-icons {
        display: none;
    }

    header h1{
        font-size: 25px;
    }

    .blackhole-box video{
        margin-top: -16%;
    }

    .hero{
        min-height: 100dvh;        
        flex-direction: column;
        justify-content: center;
    }

    .left{
        height: 50px;        
    }

    .autoBlur{
        animation: none;
    }

    .hero-info{
        position: absolute;
        margin-top: 60%;
        margin-left: 20px;
        width: 340px;
    }

    .hero-info-title{
        margin-bottom: -15px;
        font-size: 13.49px;
    }

    .hero-info h1{
        font-size: 32px;
        line-height: 40px;
        margin-bottom: -5px;
    }    

    .hero-info p{
        margin-bottom: px;
        font-size: 16px;
    }

    .hero-vid-box{
        position: relative;
        right: 0;
        display: flex;
        justify-content: center;
        margin-top: -80%;
    }
    .hero-vid-box video{
        width: 50%;
    }

    .scroll-down{
        display: none;
        animation: none;
    }

    /* Info Cards */
    .card h1{
        font-size: 24px;
        line-height: 25px;
    }

    .info-cards{
        display: flex;
        flex-direction: column;        
    }
    .card:nth-child(1) {
        height: 250px;
    }
    .card:nth-child(2) {
        height: 260px;
    }
    .card:nth-child(3) {
        height: 450px;
    }
    .card:nth-child(4) {
        height: 300px;
    }    
    .card:nth-child(4) h1 {
        margin-bottom: 10px;
    }

    .project-card{
        display: flex;
        flex-direction: column;        
    }

    .section-title{
        font-size: 24px;
    }

    .project-vidbox {
        height: 308px;
    }

    .project-vidbox video {
        max-width: 300px;        
    }
    .project-info{
        max-width: 300px;        
    }
    .project-info:nth-child(3){
        margin-top: 20px;
    }
    .project-info h1{
        font-size: 18px;
    }
    .project-info p{
        margin-bottom: 20px;
        font-size: 12px;
    }

    /* Skills */
    .skills-box h1{
        font-size: 24px;        
    }

    .skills-box p{
        font-size: 12px;
    }
    
    .designer{
        margin-top: 30px;        
        left: 0;
        right: 0;
        max-width: 100%;
        max-width: 520px;
        padding: 16px;             
    }    

    .coder{
        margin-top: 200px;
        left: 0;
        right: 0;
        max-width: 100%;
        max-width: 520px;
        padding: 16px;        
    }

    .slider .list .item img{
        width: 30%;
    }

    
    .contact-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-section h1{
        top: -5%;
    }

    .social-box {        
        width: 100%;
        margin-top: -30%
    }

    .social-box-describe{        
        gap: 10px;
    }

    .social-box-describe a{
        font-size: 16px;
    }

    .copy-right{
        display: none;
    }

    .social-icon{
        display: flex;                
        margin-top: 20px;
    }

    .social-icon a{
        height: 30px;
        width: 30px;        
        align-items: center;
        justify-content: center;
        margin: 10px;        
    }

    .social-icon a i{        
        margin-top: 0;
    }

    .contact-box{
        margin-top: -1px;
        font-size: 16px;
    }

}
